<div class="container mx-auto mt-8 p-10 text-center text-white">
	<div class="flex flex-col items-center">
	  <div class="mb-4 mt-4 flex items-center gap-1">
		<span class="text-[0.8125rem]/6 opacity-55">Para ayudar con el proyecto</span>
		<a
		  class="group relative isolate flex items-center gap-x-0.5 rounded-lg px-2 py-0.5 text-[0.8125rem]/6 font-medium text-white/30 transition hover:scale-110 hover:text-blue-500"
		  href="https://www.paypal.com/paypalme/ytfoto"
		  target="_blank"
		  rel="noreferrer"
		  title="Ir a paypal"
		  ><ion-icon name="logo-paypal" class="size-6"></ion-icon></a>
	  </div>
	</div>
	<div class="flex place-content-center gap-2">
	  <p class="flex flex-col sm:flex-row items-center md:items-baseline gap-x-1 text-[0.8125rem]/6 text-gray-500">
		Sígueme en
		<a
		  class="group relative isolate flex items-center gap-x-0.5 rounded-lg px-2 py-0.5 text-[0.8125rem]/6 font-medium text-white/30 transition hover:scale-110 hover:text-blue-500"
		  href="https://facebook.com/ytfotografiaesports">
		  <ion-icon name="logo-facebook" class="size-6" ></ion-icon>
			<span class="self-baseline text-white">@ytfotografiaesports</span></a
		><a
		  class="group relative isolate flex items-center gap-x-0.5 rounded-lg px-2 py-0.5 text-[0.8125rem]/6 font-medium text-white/30 transition hover:scale-110 hover:text-sky-300"
		  href="https://instagram.com/ytfotografiaesports"
		  > <ion-icon name="logo-instagram" class="size-6" ></ion-icon>
		  <span class="self-baseline text-white">@ytfotografiaesports</span>
		  </a>
	  </p>
	</div>
  </div>