<section
	id='hero'
	class='relative w-full overflow-hidden bg-gradient-to-r from-blue-300 via-blue-300 to-gray-300'
	style='clip-path: polygon(25% 0%, 100% 0, 100% 95%, 0 100%, 0 100%, 0 0)'
>
	<slot />
</section>